p.feature-box.heading {
    margin-top: 20px;
    margin-bottom: 35px;
    text-align: center;
}

img.bannerRSE:hover {
    transform: scale(1.1);
}

img.bannerFRLG:hover {
    transform: scale(1.1);
}

p.t1 {
    border:2px;
    border-style: solid;
    border-color: black;     
    background-color: white;
    width: fit-content;
    text-align: center;
    border-radius: 25px;
    padding: 8px;
    margin-bottom: 35px;
}

p.t2 {
    border:2px;
    border-style: solid;
    border-color: black;     
    background-color: white;
    width: fit-content;
    text-align: center;
    border-radius: 25px;
    padding: 8px;
    margin-bottom: 35px;

}