div.feature-box.borders{
    border: 2px;
    border-style: solid;
    width: auto;
    height: auto;
    background-color: lightgrey;
    border-radius: 25px;
    padding: 8px;  
    padding-bottom: 50px;
    margin-bottom: 30px;
}

h1.feature-box.gradiant {
    background: linear-gradient(to right, red, blue);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

p.feature-box.heading {
    padding: 8px;
    text-align: center;
    margin-top: 20px;
}

p.RSE {
    margin-right: 50px;
}

p.feature-box.RSE {
    align-content: center;
    border: 2px;
    border-style: solid;
    width: 325px;
    height: fit-content;
    text-align: center;
    background-color: white;
    border-radius: 25px;
    padding: 8px;
    float: left;
    margin-right: 30px;
}

img.image:hover {
    transform: scale(1.8);
}

div.table {
    text-align: center;
    float: center;
    align-self: center;
    border: 2px;
    border-style: solid;
    width: fit-content;
    height: auto;
    border-radius: 25px;
    padding: 8px;  
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background: linear-gradient(to right, red, blue);
}

table, td, th, tr {
    border:2px solid black; 
    color: black; 
    text-align: center; 
    background-color: white;    
}

p.secretbase {
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
}

p.emerald {
    align-content: center;
    border: 2px;
    border-style: solid;
    width: 325px;
    height: fit-content;
    text-align: center;
    background-color: white;
    border-radius: 25px;
    padding: 8px;
    margin-right: 30px;
}

p.EM {
    text-align: right;
    float: right;
}

p.feature-box.summary {
    float: right;
    align-content: center;
    border: 2px;
    border-style: solid;
    width: 260px;
    height: 200px;
    text-align: center;
    background-color: white;
    border-radius: 25px;
    padding: 8px;
    margin-left: 10px
}

h1.headings {
    margin-left: 50px;
    font-size: 25px;
}

div.southern.island {
    float: center;
    border: 2px;
    border-style: solid;
    width: fit-content;
    height: auto;
    border-radius: 25px;
    padding: 8px;  
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background: linear-gradient(to right, red, blue);
}

p.island.text {
    margin-top: 15px;
    border:2px solid black; 
    color: black; 
    text-align: center; 
    background-color: white; 
}

img.latios {
    float: left;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin-top: auto;
}

img.latias {
    float: right;
    margin-top: auto;
}

p.features {
    float: left;
    margin-left: 50px;
}

p.pokenav {
    float: right;
    align-content: center;
    border: 2px;
    border-style: solid;
    width: 260px;
    height: 200px;
    text-align: center;
    background-color: white;
    border-radius: 25px;
    padding: 8px;
    margin-left: 10px
}

center.Deoxys {
    border: 2px;
    text-align: center;
    border-style: solid;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    background-color: white;
}

p.BF {
    align-items: center;
    float: right;
    align-content: center;
    border: 2px;
    border-style: solid;
    text-align: center;
    background-color: white;
    border-radius: 25px;
    padding: 8px;
    margin-left: 10px;
    width: 335px;
    height: 220px;
}