{% extends 'layout.html' %}
{% block content %}
    <h1><center>Expansion Sets</center></h1>
    <body>
      <p> <center>        
            The third generation of expansion sets was released in the summer of 2003, and was concluded in early 2007, before the Diamond and Pearl sets were introduced. 
            During this generation, ex, Delta Species, and Gold Star cards were introduced which were exclusive to this generation.
            This list will only cover the English sets. Japanese sets might be listed at a later date.
          </center>
      </p>
        <style>
            table, td {
              border:2px solid black; color: black; text-align: center; background-color: white;
            }
            th{border:2px solid black; color: black; text-align: center;background-color: aqua;}
            </style>
        <table style="width: fit-content;" align="center">
            <tr>
              <th>Set Name</th>
              <th>Set Symbol</th>
              <th>Number of Cards</th>    
              <th>Release Date</th>
            </tr>
            <tr>
              <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
              <td><img src="{{ url_for('static', filename='set symbols/SetSymbolRuby_and_Sapphire.png')}}"  alt="set symbol" height="18.75" width="18.75"></td>
              <td>109</td>
              <td>June 18, 2003	</td>
            </tr>
            <tr>
              <td><a href="{{ url_for('sandstorm')}}">EX Sandstorm</a></td>
              <td><img src="{{ url_for('static', filename='set symbols/SetSymbolSandstorm.png')}}"  alt="set symbol" height="18.75" width="18.75"></td>
              <td>100</td>
              <td>September 18, 2003	</td>
            </tr>
            <tr>
              <td><a href="{{ url_for('dragon')}}">EX Dragon</a></td>
              <td><img src="{{ url_for('static', filename='set symbols/SetSymbolDragon.png')}}"  alt="set symbol" height="18.75" width="18.75"></td>
              <td>100</td>
              <td>November 24, 2003	</td>
            </tr>
            <tr>
              <td><a href="{{ url_for('magmaaqua')}}">EX Team Magma vs Team Aqua</a></td>
              <td><img src="{{ url_for('static', filename='set symbols/SetSymbolTeam_Magma_vs_Team_Aqua.png')}}"  alt="set symbol" height="18.75" width="18.75"></td>
              <td>97</td>
              <td>March 15, 2004	</td>
            </tr>
            <tr>
              <td><a href="{{ url_for('hiddenlegends')}}">EX Hidden Legends</a></td>
              <td><img src="{{ url_for('static', filename='set symbols/SetSymbolHidden_Legends.png')}}"  alt="set symbol" height="18.75" width="18.75"></td>
              <td>102</td>
              <td>June 14, 2004	</td>
            </tr>
            <tr>
              <td><a href="{{ url_for('frlg')}}">EX FireRed and LeafGreen</a></td>
              <td><img src="{{ url_for('static', filename='set symbols/SetSymbolFireRed_and_LeafGreen.png')}}"  alt="set symbol" height="18.75" width="18.75"></td>
              <td>116</td>
              <td>August 30, 2004	</td>
            </tr>
            <tr>
              <td><a href="{{ url_for('rocketreturns')}}">EX Team Rocket Returns</a></td>
              <td><img src="{{ url_for('static', filename='set symbols/SetSymbolTeam_Rocket_Returns.png')}}"  alt="set symbol" height="18.75" width="18.75"></td>
              <td>111</td>
              <td>November 8, 2004	</td>
            </tr>
            <tr>
              <td><a href="{{ url_for('deoxys')}}">EX Deoxys</a></td>
              <td><img src="{{ url_for('static', filename='set symbols/SetSymbolDeoxys.png')}}"  alt="set symbol" height="18.75" width="18.75"></td>
              <td>108</td>
              <td>February 14, 2005	</td>
            </tr>
            <tr>
              <td><a href="{{ url_for('emerald')}}">EX Emerald</a></td>
              <td><img src="{{ url_for('static', filename='set symbols/SetSymbolEmerald.png')}}"  alt="set symbol" height="18.75" width="18.75"></td>
              <td>107</td>
              <td>May 9, 2005	</td>
            </tr>
            <tr>
              <td><a href="{{ url_for('unseenforces')}}">EX Unseen Forces</a></td>
              <td><img src="{{ url_for('static', filename='set symbols/SetSymbolUnseen_Forces.png')}}"  alt="set symbol" height="18.75" width="18.75"></td>
              <td>145</td>
              <td>August 22, 2005	</td>
            </tr>
            <tr>
              <td><a href="{{ url_for('exdeltaspecies')}}">EX Delta Species</a></td>
              <td><img src="{{ url_for('static', filename='set symbols/SetSymbolDelta_Species.png')}}"  alt="set symbol" height="18.75" width="18.75"></td>
              <td>114</td>
              <td>October 31, 2005	</td>
            </tr>
            <tr>
              <td><a href="{{ url_for('legendmaker')}}">EX Legend Maker</a></td>
              <td><img src="{{ url_for('static', filename='set symbols/SetSymbolLegend_Maker.png')}}"  alt="set symbol" height="18.75" width="18.75"></td>
              <td>93</td>
              <td>February 13, 2006	</td>
            </tr>
            <tr>
              <td><a href="{{ url_for('holonphantoms')}}">EX Holon Phantoms</a></td>
              <td><img src="{{ url_for('static', filename='set symbols/SetSymbolHolon_Phantoms.png')}}"  alt="set symbol" height="18.75" width="18.75"></td>
              <td>111</td>
              <td>May 3, 2006	</td>
            </tr>
            <tr>
              <td><a href="{{ url_for('crystalguardians')}}">EX Crystal Guardians</a></td>
              <td><img src="{{ url_for('static', filename='set symbols/SetSymbolCrystal_Guardians.png')}}"  alt="set symbol" height="18.75" width="18.75"></td>
              <td>100</td>
              <td>August 30, 2006	</td>
            </tr>
            <tr>
              <td><a href="{{ url_for('dragonfrontiers')}}">EX Dragon Frontiers</a></td>
              <td><img src="{{ url_for('static', filename='set symbols/SetSymbolDragon_Frontiers.png')}}"  alt="set symbol" height="18.75" width="18.75"></td>
              <td>101</td>
              <td>November 8, 2006	</td>
            </tr>
            <tr>
              <td><a href="{{ url_for('powerkeepers')}}">EX Power Keepers</a></td>
              <td><img src="{{ url_for('static', filename='set symbols/SetSymbolPower_Keepers.png')}}"  alt="set symbol" height="18.75" width="18.75"></td>
              <td>108</td>
              <td>February 14, 2007	</td>
            </tr>


          </table>
    </body>
{% endblock %}