{% extends 'layout.html' %}
{% block content %}
<html> 
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='boxArtBanners.css')}}">
</head>
    <h1 style="text-decoration: underline;"><center>Games Page</center></h1>
    <body>
        <p class="feature-box heading">
            Anything in this section will be dedicated to the video games. You can find seperate links to more specific sections below. There will be several links to outside sources for certain pieces of information.
            The main purpose of this page is to document and act as a central hub for anything regarding the generation 3 games. Expect this page to be updated regularly as new information gets discovered. Since these 
            games were at a low point for Pokémon, there is a lot of information that got lost over time. The goal of this website is to have a centralized hub to this information and any links to obscure details on these games.
        </p>
        <p class="RSE">
            <center>
                <a href="{{ url_for('RSE')}}">
                    <img class = "bannerRSE" src="{{ url_for('static', filename='gamesBanners/RSEbanner.png')}}" alt="RSE" width="507" height="213"/>
                </a>
        <p class="t1">
            Ruby Sapphire Emerald
        </p>
            </center>    
        </p>
        <p class="FRLG">    
            <center>
                <a href="{{ url_for('FRLGgames')}}">
                    <img class = "bannerFRLG" src="{{ url_for('static', filename='gamesBanners/FRLGbanner.png')}}" alt="FRLG" width="341" height="195"/>
                </a>
        <p class="t2">
            LeafGreen FireRed
        </p>
            </center>
        </p> 
    </body>
</html> 
{% endblock %}