{% extends 'layout.html' %}
{% block content %}
    <h1><center>Gold Star Card List <img src="{{ url_for('static', filename='gold star cards/Pokemon_Star.png')}}" alt="Gold Star" width="36" height="23"/></center></h1>
    <body>
        <p>
            <style> a {color : orange}

            </style>
            <center>There is a total of 27 Gold Star cards that were released during the gen 3 era of cards. This list excludes the Japanese sets since there are different set names and some of the cards are available in promo sets. Mewtwo and Pikachu are two of these cards, which you can find more info in the <a href="{{ url_for('japancards')}}">Japanese Exclusive section.</a></center></a> 
        </p>
        <style>
        table, td {
            border:2px solid black; color: black; text-align: center; background-color: white;        }
            th{border:2px solid black; color: black; text-align: center; background-color: gold}    
        </style>
            <table style="width: fit-content;" align="center">
                <tr>
                    <th>Card</th>
                    <th>Name</th>
                    <th>Set</th>
                </tr>
                <tr>
                    <td><img src="https://www.serebii.net/card/exteamrocketreturns/107.jpg" alt="Mudkip" width="162" height="226"/></td>
                    <td>Mudkip<img src="{{ url_for('static', filename='gold star cards/Pokemon_Star.png')}}" alt="Gold Star" width="33" height="21.5"/></td>
                    <td>EX Team Rocket Returns
                        107 / 109 <img src="{{ url_for('static', filename='set symbols/SetSymbolTeam_Rocket_Returns.png')}}" alt="set symbol" width="37.5" height="37.5"/></td>
                </tr>
                <tr>
                    <td><img src="https://www.serebii.net/card/exteamrocketreturns/108.jpg" alt="Treeko" width="162" height="226"/></td>
                    <td>Treeko<img src="{{ url_for('static', filename='gold star cards/Pokemon_Star.png')}}" alt="Gold Star" width="33" height="21.5"/></td>
                    <td>EX Team Rocket Returns
                        108 / 109 <img src="{{ url_for('static', filename='set symbols/SetSymbolTeam_Rocket_Returns.png')}}" alt="set symbol" width="37.5" height="37.5"/></td>
                </tr>
                <tr>
                    <td><img src="https://www.serebii.net/card/exteamrocketreturns/109.jpg" alt="Torchic" width="162" height="226"/></td>
                    <td>Torchic<img src="{{ url_for('static', filename='gold star cards/Pokemon_Star.png')}}" alt="Gold Star" width="33" height="21.5"/></td>
                    <td>EX Team Rocket Returns
                        109 / 109 <img src="{{ url_for('static', filename='set symbols/SetSymbolTeam_Rocket_Returns.png')}}" alt="set symbol" width="37.5" height="37.5"/></td>
                </tr>
                <tr>
                    <td><img src="https://www.serebii.net/card/exdeoxys/105.jpg" alt="Latias" width="162" height="226"/></td>
                    <td>Latias<img src="{{ url_for('static', filename='gold star cards/Pokemon_Star.png')}}" alt="Gold Star" width="33" height="21.5"/></td>
                    <td>EX Deoxys
                        105 / 107 <img src="{{ url_for('static', filename='set symbols/SetSymbolDeoxys.png')}}" alt="set symbol" width="37.5" height="37.5"/></td>
                </tr>
                <tr>
                    <td><img src="https://www.serebii.net/card/exdeoxys/106.jpg" alt="Latios" width="162" height="226"/></td>
                    <td>Latios<img src="{{ url_for('static', filename='gold star cards/Pokemon_Star.png')}}" alt="Gold Star" width="33" height="21.5"/></td>
                    <td>EX Deoxys
                        106 / 107 <img src="{{ url_for('static', filename='set symbols/SetSymbolDeoxys.png')}}" alt="set symbol" width="37.5" height="37.5"/></td>
                </tr>
                <tr>
                    <td><img src="https://www.serebii.net/card/exdeoxys/107.jpg" alt="Rayquaza" width="162" height="226"/></td>
                    <td>Rayquaza<img src="{{ url_for('static', filename='gold star cards/Pokemon_Star.png')}}" alt="Gold Star" width="33" height="21.5"/></td>
                    <td>EX Deoxys
                        107 / 107 <img src="{{ url_for('static', filename='set symbols/SetSymbolDeoxys.png')}}" alt="set symbol" width="37.5" height="37.5"/></td>
                </tr>
                <tr>
                    <td><img src="https://www.serebii.net/card/exunseenforces/113.jpg" alt="Entei" width="162" height="226"/></td>
                    <td>Entei<img src="{{ url_for('static', filename='gold star cards/Pokemon_Star.png')}}" alt="Gold Star" width="33" height="21.5"/></td>
                    <td>EX Unseen Forces
                        113 / 115 <img src="{{ url_for('static', filename='set symbols/SetSymbolUnseen_Forces.png')}}" alt="set symbol" width="37.5" height="37.5"/></td>
                </tr>
                <tr>
                    <td><img src="https://www.serebii.net/card/exunseenforces/114.jpg" alt="Raikou" width="162" height="226"/></td>
                    <td>Raikou<img src="{{ url_for('static', filename='gold star cards/Pokemon_Star.png')}}" alt="Gold Star" width="33" height="21.5"/></td>
                    <td>EX Unseen Forces
                        114 / 115 <img src="{{ url_for('static', filename='set symbols/SetSymbolUnseen_Forces.png')}}" alt="set symbol" width="37.5" height="37.5"/></td>
                </tr>
                <tr>
                    <td><img src="https://www.serebii.net/card/exunseenforces/115.jpg" alt="Suicune" width="162" height="226"/></td>
                    <td>Suicune<img src="{{ url_for('static', filename='gold star cards/Pokemon_Star.png')}}" alt="Gold Star" width="33" height="21.5"/></td>
                    <td>EX Unseen Forces
                        115 / 115 <img src="{{ url_for('static', filename='set symbols/SetSymbolUnseen_Forces.png')}}" alt="set symbol" width="37.5" height="37.5"/></td>
                </tr>
                <tr>
                    <td><img src="https://www.serebii.net/card/exdeltaspecies/111.jpg" alt="Groudon" width="162" height="226"/></td>
                    <td>Groudon<img src="{{ url_for('static', filename='gold star cards/Pokemon_Star.png')}}" alt="Gold Star" width="33" height="21.5"/></td>
                    <td>EX Delta Species
                        111 / 113 <img src="{{ url_for('static', filename='set symbols/SetSymbolDelta_Species.png')}}" alt="set symbol" width="37.5" height="37.5"/></td>
                </tr>
                <tr>
                    <td><img src="https://www.serebii.net/card/exdeltaspecies/112.jpg" alt="Kyogre" width="162" height="226"/></td>
                    <td>Kyogre<img src="{{ url_for('static', filename='gold star cards/Pokemon_Star.png')}}" alt="Gold Star" width="33" height="21.5"/></td>
                    <td>EX Delta Species
                        112 / 113 <img src="{{ url_for('static', filename='set symbols/SetSymbolDelta_Species.png')}}" alt="set symbol" width="37.5" height="37.5"/></td>
                </tr>
                <tr>
                    <td><img src="https://www.serebii.net/card/exdeltaspecies/113.jpg" alt="Metagross" width="162" height="226"/></td>
                    <td>Metagross<img src="{{ url_for('static', filename='gold star cards/Pokemon_Star.png')}}" alt="Gold Star" width="33" height="21.5"/></td>
                    <td>EX Delta Species
                        113 / 113 <img src="{{ url_for('static', filename='set symbols/SetSymbolDelta_Species.png')}}" alt="set symbol" width="37.5" height="37.5"/></td>
                </tr>
                <tr>
                    <td><img src="https://www.serebii.net/card/exlegendmaker/90.jpg" alt="Regice" width="162" height="226"/></td>
                    <td>Regice<img src="{{ url_for('static', filename='gold star cards/Pokemon_Star.png')}}" alt="Gold Star" width="33" height="21.5"/></td>
                    <td>EX Legend Maker
                        90 / 92 <img src="{{ url_for('static', filename='set symbols/SetSymbolLegend_Maker.png')}}" alt="set symbol" width="37.5" height="37.5"/></td>
                </tr>
                <tr>
                    <td><img src="https://www.serebii.net/card/exlegendmaker/91.jpg" alt="Regirock" width="162" height="226"/></td>
                    <td>Regirock<img src="{{ url_for('static', filename='gold star cards/Pokemon_Star.png')}}" alt="Gold Star" width="33" height="21.5"/></td>
                    <td>EX Legend Maker
                        91 / 92 <img src="{{ url_for('static', filename='set symbols/SetSymbolLegend_Maker.png')}}" alt="set symbol" width="37.5" height="37.5"/></td>
                </tr>
                <tr>
                    <td><img src="https://www.serebii.net/card/exlegendmaker/92.jpg" alt="Registeel" width="162" height="226"/></td>
                    <td>Registeel<img src="{{ url_for('static', filename='gold star cards/Pokemon_Star.png')}}" alt="Gold Star" width="33" height="21.5"/></td>
                    <td>EX Legend Maker
                        92 / 92 <img src="{{ url_for('static', filename='set symbols/SetSymbolLegend_Maker.png')}}" alt="set symbol" width="37.5" height="37.5"/></td>
                </tr>
                <tr>
                    <td><img src="https://www.serebii.net/card/exholonphantoms/102.jpg" alt="Gyarados" width="162" height="226"/></td>
                    <td>Gyarados<img src="{{ url_for('static', filename='gold star cards/Pokemon_Star.png')}}" alt="Gold Star" width="33" height="21.5"/>δ</td>
                    <td>EX Holon Phantoms
                        102 / 110 <img src="{{ url_for('static', filename='set symbols/SetSymbolHolon_Phantoms.png')}}" alt="set symbol" width="37.5" height="37.5"/></td>
                </tr>
                <tr>
                    <td><img src="https://www.serebii.net/card/exholonphantoms/103.jpg" alt="Mewtwo" width="162" height="226"/></td>
                    <td>Mewtwo<img src="{{ url_for('static', filename='gold star cards/Pokemon_Star.png')}}" alt="Gold Star" width="33" height="21.5"/></td>
                    <td>EX Holon Phantoms
                        103 / 110 <img src="{{ url_for('static', filename='set symbols/SetSymbolHolon_Phantoms.png')}}" alt="set symbol" width="37.5" height="37.5"/></td>
                </tr>
                <tr>
                    <td><img src="https://www.serebii.net/card/exholonphantoms/104.jpg" alt="Pikachu" width="162" height="226"/></td>
                    <td>Pikachu<img src="{{ url_for('static', filename='gold star cards/Pokemon_Star.png')}}" alt="Gold Star" width="33" height="21.5"/></td>
                    <td>EX Holon Phantoms
                        104 / 110 <img src="{{ url_for('static', filename='set symbols/SetSymbolHolon_Phantoms.png')}}" alt="set symbol" width="37.5" height="37.5"/></td>
                </tr>
                <tr>
                    <td><img src="https://www.serebii.net/card/excrystalguardians/99.jpg" alt="Alakazam" width="162" height="226"/></td>
                    <td>Alakazam<img src="{{ url_for('static', filename='gold star cards/Pokemon_Star.png')}}" alt="Gold Star" width="33" height="21.5"/></td>
                    <td>EX Crystal Guardians
                        99 / 100 <img src="{{ url_for('static', filename='set symbols/SetSymbolCrystal_Guardians.png')}}" alt="set symbol" width="37.5" height="37.5"/></td>
                </tr>
                <tr>
                    <td><img src="https://www.serebii.net/card/excrystalguardians/100.jpg" alt="Celebi" width="162" height="226"/></td>
                    <td>Celebi<img src="{{ url_for('static', filename='gold star cards/Pokemon_Star.png')}}" alt="Gold Star" width="33" height="21.5"/></td>
                    <td>EX Crystal Guardians
                        100 / 100 <img src="{{ url_for('static', filename='set symbols/SetSymbolCrystal_Guardians.png')}}" alt="set symbol" width="37.5" height="37.5"/></td>
                </tr>
                <tr>
                    <td><img src="https://www.serebii.net/card/exdragonfrontiers/100.jpg" alt="Charizard" width="162" height="226"/></td>
                    <td>Charizard<img src="{{ url_for('static', filename='gold star cards/Pokemon_Star.png')}}" alt="Gold Star" width="33" height="21.5"/>δ</td>
                    <td>EX Dragon Frontiers
                        100 / 101 <img src="{{ url_for('static', filename='set symbols/SetSymbolDragon_Frontiers.png')}}" alt="set symbol" width="37.5" height="37.5"/></td>
                </tr>
                <tr>
                    <td><img src="https://www.serebii.net/card/exdragonfrontiers/101.jpg" alt="Mew" width="162" height="226"/></td>
                    <td>Mew<img src="{{ url_for('static', filename='gold star cards/Pokemon_Star.png')}}" alt="Gold Star" width="33" height="21.5"/>δ</td>
                    <td>EX Dragon Frontiers
                        101 / 101 <img src="{{ url_for('static', filename='set symbols/SetSymbolDragon_Frontiers.png')}}" alt="set symbol" width="37.5" height="37.5"/></td>
                </tr>
                <tr>
                    <td><img src="https://www.serebii.net/card/expowerkeepers/100.jpg" alt="Flareon" width="162" height="226"/></td>
                    <td>Flareon<img src="{{ url_for('static', filename='gold star cards/Pokemon_Star.png')}}" alt="Gold Star" width="33" height="21.5"/></td>
                    <td>EX Power Keepers
                        100 / 108 <img src="{{ url_for('static', filename='set symbols/SetSymbolPower_Keepers.png')}}" alt="set symbol" width="37.5" height="37.5"/></td>
                </tr>
                <tr>
                    <td><img src="https://www.serebii.net/card/expowerkeepers/101.jpg" alt="Jolteon" width="162" height="226"/></td>
                    <td>Jolteon<img src="{{ url_for('static', filename='gold star cards/Pokemon_Star.png')}}" alt="Gold Star" width="33" height="21.5"/></td>
                    <td>EX Power Keepers
                        101 / 108 <img src="{{ url_for('static', filename='set symbols/SetSymbolPower_Keepers.png')}}" alt="set symbol" width="37.5" height="37.5"/></td>
                </tr>
                <tr>
                    <td><img src="https://www.serebii.net/card/expowerkeepers/102.jpg" alt="Vaporeon" width="162" height="226"/></td>
                    <td>Vaporeon<img src="{{ url_for('static', filename='gold star cards/Pokemon_Star.png')}}" alt="Gold Star" width="33" height="21.5"/></td>
                    <td>EX Power Keepers
                        102 / 108 <img src="{{ url_for('static', filename='set symbols/SetSymbolPower_Keepers.png')}}" alt="set symbol" width="37.5" height="37.5"/></td>
                </tr>
                <tr>
                    <td><img src="https://www.serebii.net/card/popseries5/16.jpg" alt="Espeon" width="162" height="226"/></td>
                    <td>Espeon<img src="{{ url_for('static', filename='gold star cards/Pokemon_Star.png')}}" alt="Gold Star" width="33" height="21.5"/></td>
                    <td>POP Series 5
                        16 / 17 <img src="{{ url_for('static', filename='set symbols/SetSymbolPOP_Series_5.png')}}" alt="set symbol" width="62.5" height="40.375"/></td>
                </tr>
                    <td><img src="https://www.serebii.net/card/popseries5/17.jpg" alt="Umbreon" width="162" height="226"/></td>
                    <td>Umbreon<img src="{{ url_for('static', filename='gold star cards/Pokemon_Star.png')}}" alt="Gold Star" width="33" height="21.5"/></td>
                    <td>POP Series 5
                        17 / 17 <img src="{{ url_for('static', filename='set symbols/SetSymbolPOP_Series_5.png')}}" alt="set symbol" width="62.5" height="40.375"/></td>
                </tr>               

              </table> 
    </body>
{% endblock %}