{% extends 'layout.html' %}
{% block content %}
<h1><center><img src="{{ url_for('static', filename='set banners/HP.png')}}" alt="rslogo" height="98" width="195"></center></h1>
<body>
</p>
<style>
    table, td {
      border:2px solid black; color: black; text-align: center; background-color: white;
    }
    th{border:2px solid black; color: black; text-align: center;background-color: purple}

    </style>
<table style="width: fit-content;" align="center">
    <tr>
        <th>Card</th>
        <th>Card #</th>
        <th>Type</th>
        <th>Rarity</th>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>1/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>2/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>3/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>4/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>5/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>6/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>7/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>8/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>9/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>10/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>11/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>12/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>13/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>14/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>15/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>16/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>17/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>18/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>19/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>20/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>21/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>22/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>23/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>24/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>25/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>26/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>27/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>28/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>29/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>30/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>31/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>32/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>33/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>34/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>35/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>36/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>37/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>38/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>39/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>40/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>41/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>42/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>43/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>44/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>45/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>            
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>46/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>47/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>            
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>48/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>49/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>50/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>51/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>52/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>53/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>54/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>55/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>56/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>57/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>58/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>59/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>60/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>61/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>62/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>63/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>64/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>65/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>                        
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>66/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>67/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>68/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>69/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>70/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>71/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>72/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>73/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>74/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>75/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>76/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>77/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>78/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>79/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>80/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>81/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>82/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>83/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>84/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>85/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>86/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>87/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>88/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>89/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>90/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>91/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>92/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>93/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>94/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>95/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>96/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>97/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>98/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>99/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>100/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>101/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>102/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>103/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>104/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>105/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>106/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>107/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>108/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>109/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>110/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>  
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>111/111</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>  
</table>          
</body>
{% endblock %}