{% extends 'layout.html' %}
{% block content %}
<h1><center><img src="{{ url_for('static', filename='set banners/LM.png')}}" alt="rslogo" height="210" width="578"></center></h1>
<body>
</p>
<style>
    table, td {
      border:2px solid black; color: black; text-align: center; background-color: white;
    }
    th{background-color: crimson} 
    th{border:2px solid black; color: black; text-align: center;background-color: brown}

    </style>
<table style="width: fit-content;" align="center">
    <tr>
        <th>Card</th>
        <th>Card #</th>
        <th>Type</th>
        <th>Rarity</th>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>1/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>2/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>3/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>4/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>5/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>6/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>7/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>8/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>9/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>10/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>11/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>12/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>13/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>14/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>15/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>16/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>17/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>18/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>19/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>20/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>21/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>22/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>23/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>24/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>25/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>26/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>27/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>28/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>29/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>30/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>31/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>32/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>33/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>34/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>35/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>36/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>37/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>38/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>39/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>40/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>41/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>42/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>43/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>44/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>45/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>            
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>46/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>47/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>            
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>48/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>49/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>50/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>51/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>52/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>53/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>54/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>55/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>56/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>57/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>58/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>59/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>60/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>61/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>62/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>63/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>64/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>65/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>                        
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>66/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>67/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>68/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>69/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>70/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>71/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>72/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>73/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>74/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>75/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>76/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>77/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>78/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>79/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>80/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>81/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>82/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>83/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>84/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>85/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>86/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>87/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>88/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>89/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>90/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>91/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>92/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">EX Ruby & Sapphire</a></td>
        <td>93/93</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr> 
</table>          
</body>
{% endblock %}