{% extends 'layout.html' %}
{% block content %}
<h1><center><img src="{{ url_for('static', filename='set banners/rocket.png')}}" alt="rocketlogo" height="80" width="192"></center></h1>
<body>
</p>
<style>
    table, td {
      border:2px solid black; color: black; text-align: center; background-color: white;
    } 
    th{border:2px solid black; color: black; text-align: center;background-color: crimson}

    </style>
<table style="width: fit-content;" align="center">
    <tr>
        <th>Card</th>
        <th>Card #</th>
        <th>Type</th>
        <th>Rarity</th>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Azuarill</a></td>
        <td>1/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Dark Ampharos</a></td>
        <td>2/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/lightning.webp')}}" alt='card' height="18" width="18"><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Dark Crobat</a></td>
        <td>3/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Dark Electrode</a></td>
        <td>4/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/lightning.webp')}}" alt='card' height="18" width="18"><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Dark Houndoom</a></td>
        <td>5/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fire.webp')}}" alt='card' height="18" width="18"><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Dark Hypno</a></td>
        <td>6/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/psychic.webp')}}" alt='card' height="18" width="18"><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Dark Marowack</a></td>
        <td>7/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Dark Octillery</a></td>
        <td>8/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Dark Slowking</a></td>
        <td>9/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/psychic.webp')}}" alt='card' height="18" width="18"><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Dark Steelix</a></td>
        <td>10/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/metal.webp')}}" alt='card' height="18" width="18"><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Jumpluff</a></td>
        <td>11/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Kingdra</a></td>
        <td>12/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Piloswine</a></td>
        <td>13/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Togetic</a></td>
        <td>14/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/normal.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Dark Dragonite</a></td>
        <td>15/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Dark Muk</a></td>
        <td>16/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Dark Raticate</a></td>
        <td>17/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Dark Sandslash</a></td>
        <td>18/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Dark Tyranitar</a></td>
        <td>19/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Dark Tyranitar</a></td>
        <td>20/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Delibird</a></td>
        <td>21/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Furret</a></td>
        <td>22/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/normal.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Ledian</a></td>
        <td>23/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Magby</a></td>
        <td>24/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fire.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Misdreavous</a></td>
        <td>25/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/psychic.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Quagsire</a></td>
        <td>26/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Qwilfish</a></td>
        <td>27/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Yanma</a></td>
        <td>28/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Dark Arbock</a></td>
        <td>29/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Dark Ariados</a></td>
        <td>30/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Dark Dragonair</a></td>
        <td>31/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Dark Dragonair</a></td>
        <td>32/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Dark Flaaffy</a></td>
        <td>33/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/lightning.webp')}}" alt='card' height="18" width="18"><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Dark Golbat</a></td>
        <td>34/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Dark Golduck</a></td>
        <td>35/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Dark Gyarados</a></td>
        <td>36/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Dark Houndoom</a></td>
        <td>37/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fire.webp')}}" alt='card' height="18" width="18"><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Dark Magcargo</a></td>
        <td>38/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fire.webp')}}" alt='card' height="18" width="18"><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Dark Magneton</a></td>
        <td>39/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/lightning.webp')}}" alt='card' height="18" width="18"><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Dark Pupitar</a></td>
        <td>40/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Dark Pupitar</a></td>
        <td>41/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Dark Weezing</a></td>
        <td>42/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Heracross</a></td>
        <td>43/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Magmar</a></td>
        <td>44/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fire.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Mantine</a></td>
        <td>45/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>            
        <td><a href="{{ url_for('rubysapphire')}}">Rocket's Meowth</a></td>
        <td>46/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Rocket's Wobbuffet</a></td>
        <td>47/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>            
        <td><a href="{{ url_for('rubysapphire')}}">Seadra</a></td>
        <td>48/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Skiploom</a></td>
        <td>49/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Togepi</a></td>
        <td>50/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/normal.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Cubone</a></td>
        <td>51/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Dratini</a></td>
        <td>52/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/normal.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Dratini</a></td>
        <td>53/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/normal.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Drowzee</a></td>
        <td>54/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/psychic.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Ekans</a></td>
        <td>55/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/psychic.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Grimer</a></td>
        <td>56/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Hoppip</a></td>
        <td>57/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Horsea</a></td>
        <td>58/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Houndour</a></td>
        <td>59/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fire.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Houndour</a></td>
        <td>60/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fire.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Koffing</a></td>
        <td>61/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Larvitar</a></td>
        <td>62/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Larvitar</a></td>
        <td>63/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Ledyba</a></td>
        <td>64/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Magikarp</a></td>
        <td>65/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>                        
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Magnemite</a></td>
        <td>66/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/lightning.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Mareep</a></td>
        <td>67/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/lightning.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Marill</a></td>
        <td>68/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Onix</a></td>
        <td>69/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Psyduck</a></td>
        <td>70/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Rattata</a></td>
        <td>71/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/normal.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Rattata</a></td>
        <td>72/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/normal.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Remoraid</a></td>
        <td>73/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Sandshrew</a></td>
        <td>74/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Sentret</a></td>
        <td>75/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/normal.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Slowpoke</a></td>
        <td>76/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/psychic.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Slugma</a></td>
        <td>77/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fire.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Spinarak</a></td>
        <td>78/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Swinub</a></td>
        <td>79/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Voltorb</a></td>
        <td>80/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/lightning.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Wooper</a></td>
        <td>81/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Zubat</a></td>
        <td>82/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Copycat</a></td>
        <td>83/109</td>
        <td>Trainer</td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Pokémon Retriever</a></td>
        <td>84/109</td>
        <td>Trainer</td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Pow! Hand Extension</a></td>
        <td>85/109</td>
        <td>Trainer</td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Rocket's Admin</a></td>
        <td>86/109</td>
        <td>Trainer</td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Rocket's Hideout</a></td>
        <td>87/109</td>
        <td>Trainer</td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Rocket's Mission</a></td>
        <td>88/109</td>
        <td>Trainer</td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Rocket's Poké Ball</a></td>
        <td>89/109</td>
        <td>Trainer</td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Rocket's Tricky Gym</a></td>
        <td>90/109</td>
        <td>Trainer</td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Surprise! Time Machine</a></td>
        <td>91/109</td>
        <td>Trainer</td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Swoop! Teleporter</a></td>
        <td>92/109</td>
        <td>Trainer</td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Venture Bomb</a></td>
        <td>93/109</td>
        <td>Trainer</td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Dark Metal Energy</a></td>
        <td>94/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">R Energy</a></td>
        <td>95/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>       
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Rocket's Articuno ex</a></td>
        <td>96/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Rocket's Entei ex</a></td>
        <td>97/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Rocket's Hitmonchan ex</a></td>
        <td>98/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Rocket's Mewtwo ex</a></td>
        <td>99/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Rocket's Moltress ex</a></td>
        <td>100/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Rocket's Scizor ex</a></td>
        <td>101/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
      <td><a href="{{ url_for('rubysapphire')}}">Rocket's Scyther ex</a></td>
      <td>102/109</td>
      <td><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
      <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>     
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Rocket's Sneasel ex</a></td>
        <td>103/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Rocket's Snorlax ex</a></td>
        <td>104/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Rocket's Suicune ex</a></td>
        <td>105/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Rocket's Zapdos ex</a></td>
        <td>106/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Mudkip<img src="{{ url_for('static', filename='gold star cards/Pokemon_Star.png')}}" alt="Gold Star" width="33" height="21.5"/></a></td>
        <td>107/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Torchic<img src="{{ url_for('static', filename='gold star cards/Pokemon_Star.png')}}" alt="Gold Star" width="33" height="21.5"/></a></td>
        <td>108/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fire.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Treeko<img src="{{ url_for('static', filename='gold star cards/Pokemon_Star.png')}}" alt="Gold Star" width="33" height="21.5"/></a></td>
        <td>109/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Charmeleon</a></td>
        <td>110/109</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fire.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Here Comes Team Rocket!</a></td>
        <td>111/109</td>
        <td>Trainer</td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
</table>          
</body>
{% endblock %}