{% extends 'layout.html' %}
{% block content %}
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='rse_styling.css')}}">
</head>
<body>
    <h1 class="feature-box title" style=" text-decoration: underline; margin-top: 20px;"><center>Ruby, Sapphire & Emerald</center></h1>
        <p class="feature-box heading"> 
         
                The third generation of Pokémon games were released as two main games just like the two generations before it,
                with a third game following which would be the "definitive" version of these games. Alongside these games, two remakes of the first generation games were also released.
                You can read more about them <a href="{{ url_for('FRLGgames')}}">here.</a> Unfortunately, during this era Pokémon was at a low point, as many fans seemed to have lost
                interest in the franchise. A lot of the more obscure information on these games, such as promo merchandise, special edition consoles and accessories have become very rare over the years. 
         
        </p>
    <div class="feature-box borders">
        <h1 class="feature-box gradiant" style="margin-bottom: 35px; text-decoration: underline; color: white;"><center>Ruby & Sapphire</center></h1>     
            <div>
                <p class="feature-box RSE" style="align-items: left;"><img src="{{ url_for('static', filename='boxArt/RSboxart.png')}}" alt="Ruby"  width="285" hspace="8" vspace='8'/>Pokémon Ruby & Sapphire box art</p>
                <p class="RSE">Pokémon Ruby and Sapphire were released (Japan: November 21, 2002 -> North America: March 19, 2003 -> Australia: April 3, 2003 -> Europe: July 25, 2003) to introduce the third generation of Pokémon 
                games. This new generation added a plethora of features and accessories, due to the capabilities as of the Gameboy Advance and the Gamecube. Pokémon Ruby and Sapphire were the first games to fully 
                utilize the Myster Gift feature as it is known as today, which you can read more about <a href="{{ url_for('gameevents')}}">here</a>. The change in hardware unfortunately will not let players
                transfer Pokémon from their Gold and Silver save files to Ruby and Sapphire. There are some aftermarket methods in the works as of the time this page is being written: 
                <a href="https://www.thegamer.com/pokemon-trade-gen-2-to-3-how-to/" target="_blank">https://www.thegamer.com/pokemon-trade-gen-2-to-3-how-to/</a>.
                <br>
                <br>
                Some of the main features these games introduced was double battles. This allowed players to battle with 2 Pokémon each, or in multi batles with 4 players total. This feature would be a mainstay in future games.
                The games also added Pokémon contests which players would participate in to show off their Pokémon. Pokémon Ruby and Sapphire also had the ability to connect to Pokémon Colosseum and XD Gale of Darkness,
                by transferring Pokémon between the different games, as well as the ability to recieve data from <a href="{{ url_for('battleEcards')}}">E Reader cards.</a> Since there is now way to connect to the generation 1 and 2 games,
                players are able to connect with FireRed and LeafGreen after completing certain story events to get access to the Pokémon from Kanto and Johto.
                <br>
                <br>
                <p class="feature-box summary"><img class='image' src="{{ url_for('static', filename='/pokemonsummary.jpg')}}" alt="summary" width="240" height="160"/>Pokémon summary screen</p>
                <div style="margin-left: 50px;">
                    Just like the previous generation,
                    generation 3 added over 100 new Pokémon, as well as some older Pokémon appearing in the games. The Pokémon in this generation recieved natures, abilities, and the ability to obtain the Pokérus virus.
                    Abilities and natures changed how Pokémon battles would be approached, especially in the competitive scene. These new additions can be viewed on the Pokémon's summary screen, 
                    which also shows the location and level it was met at along with a vague description of the ability.
                </div>
                <br>
                <br></p>
                <div>
                    <h1 class="headings">New Features</h1>
                        <p class="features">               
                            <p class="pokenav"><img class="image" src="{{ url_for('static', filename='/pokenav.jpg')}}" alt="pokenav" width="240" height="160"/> Pokénav menu</p>
                            <div style="margin-left: 50px;">
                                The Pokénav was another major addition to generation 3, likely taking inspiration from the Pokégear from generation 2. The Pokénav let players
                                view the Hoenn map, check Pokémon's condition (contest stats),view the amount of trainers registered and the amount of battles fought, and checking the ribbons your Pokémon have recieved. 
                                <br>
                                <br>
                                Pokémon Ruby and Sapphire also introduced Contest, which were competitions to show off a Pokémon's skill. There were four categories (Cool, Beauty, Cute and Tough). The player can feed Pokéblocks to 
                                their Pokémon to adjust their skill stats. There were four ranks you could participate in (Normal, Super, Hyper and Master). Winning a contest would award your Pokémon with a ribbon. 
                            </div>    
                        </p>
                    </div> 

                    <p class="secretbase">Secret bases were another major addition to generation 3. After players obtained the Secret Power TM, they gain access to the secret bases across Hoenn. 
                        Players had a total of 75 different locations to chose where they wanted to put their base, with 24 unique base designs depending on the region and the exact location of the base. 
                        <br>
                        <br>
                        <p class="feature-box summary">
                        <img class='image' src="{{ url_for('static', filename='/secretbase.jpg')}}" alt="summary" width="240" height="160"/>Secret base in Pokémon Emerald</p>
                        <p class="secretbase">
                        The secret bases could be decorated with furniture or Pokémon dolls, which can be aquired at various locations in the games. 
                        There were three dolls that were only available to Japan through a special promotional e-Reader card known as Decoration Present. 
                        Scanning this card into a Japanese copy of a generation 3 game would give players a Regirock, Regice, and Registeel doll. 
                        This is the only way to recieve these dolls without using any external cheating devices or glitches. However, there is a method to get these dolls over to an English copy of the games: 
                        <a href="https://projectpokemon.org/home/files/file/2234-jp-pokemon-ruby-e-reader-regi-dolls-scanned-in/" target="_blank">https://projectpokemon.org/home/files/file/2234-jp-pokemon-ruby-e-reader-regi-dolls-scanned-in/</a>. 
                        There are also a small handful of dolls that were never released for some odd reason, <a href="https://www.youtube.com/watch?v=P6if6qdt1e8&ab_channel=Evie%28ChickasaurusGL%29%F0%9F%8C%BA" target="_blank">here</a> is a video showcasing them.
                        <br>
                        <br>
                    </p>    
                    <h1 class="headings">Version Exclusives</h1>
                        <p style="margin-left: 50px; margin-right: 50px;">
                            Just like Pokémon Gold and Silver, Ruby and Sapphire have their own version exclusive Pokémon. In order to complete the Pokédex, or to use a certain Pokédex in you party, you will have to trade with the opposite verion. 
                            There are several Pokémon which are not available in either of these two games, and must be traded from the generation 1 remakes, or aquired through other means such as Mystery Gift or from the Gamecube games. 
                        </p>
                <div class="table">
                    <p>
                    <table>
                        <tr>
                            <th>Ruby</th>
                            <th>Sapphire</th>
                        </tr>
                        <tr>
                            <td><img src="{{ url_for('static', filename='/RSEsprites/seedot.webp')}}" alt="summary" width="68" height="68"/>Seedot</td>
                            <td><img src="{{ url_for('static', filename='/RSEsprites/lotad.webp')}}" alt="summary" width="68" height="68"/>Lotad</td>
                        </tr>
                        <tr>
                            <td><img src="{{ url_for('static', filename='/RSEsprites/nuzleaf.webp')}}" alt="summary" width="68" height="68"/>Nuzleaf</td>
                            <td><img src="{{ url_for('static', filename='/RSEsprites/lombre.png')}}" alt="summary" width="68" height="68"/>Lombre</td>
                        </tr>
                        <tr>
                            <td><img src="{{ url_for('static', filename='/RSEsprites/shiftry.webp')}}" alt="summary" width="68" height="68"/>Shiftry</td>
                            <td><img src="{{ url_for('static', filename='/RSEsprites/ludicolo.webp')}}" alt="summary" width="68" height="68"/>Ludicolo</td>
                        </tr>
                        <tr>
                            <td><img src="{{ url_for('static', filename='/RSEsprites/mawile.webp')}}" alt="summary" width="68" height="68"/>Mawile</td>
                            <td><img src="{{ url_for('static', filename='/RSEsprites/sableye.png')}}" alt="summary" width="68" height="68"/>Sableye</td>
                        </tr>
                        <tr>
                            <td><img src="{{ url_for('static', filename='/RSEsprites/zangoose.webp')}}" alt="summary" width="68" height="68"/>Zangoose</td>
                            <td><img src="{{ url_for('static', filename='/RSEsprites/seviper.webp')}}" alt="summary" width="68" height="68"/>Seviper</td>
                        </tr>
                        <tr>
                            <td><img src="{{ url_for('static', filename='/RSEsprites/solrock.webp')}}" alt="summary" width="68" height="68"/>Solrock</td>    
                            <td><img src="{{ url_for('static', filename='/RSEsprites/lunatone.webp')}}" alt="summary" width="68" height="68"/>Lunatone</td>                   
                        </tr>
                        <tr>
                            <td><img src="{{ url_for('static', filename='/RSEsprites/latios.webp')}}" alt="summary" width="68" height="68"/>Latios</td> 
                            <td><img src="{{ url_for('static', filename='/RSEsprites/latias.webp')}}" alt="summary" width="68" height="68"/>Latias</td> 
                        </tr>
                        <tr>
                            <td><img src="{{ url_for('static', filename='/RSEsprites/groudon.webp')}}" alt="summary" width="68" height="68"/>Groudon</td>    
                            <td><img src="{{ url_for('static', filename='/RSEsprites/kyogre.webp')}}" alt="summary" width="68" height="68"/>Kyogre</td>  
                        </tr>
                        <tr>
                            <td><img src="{{ url_for('static', filename='/RSEsprites/Deoxys.webp')}}" alt="summary" width="68" height="68" style="float: left;"/>Deoxys <br>(Normal Forme)</td>
                            <td>Deoxys (Normal Forme)<br> is exclusive<br> to Ruby and Saphhire.*</td>
                        </tr>                         
                    </table>
                </p>
                </div>
                <center class="Deoxys">
                    *Deoxys can not be obtained in Ruby and Sapphire.
                    <br>The only way to get Deoxys in generation 3 is to trade it from 
                    <br>Emerald, LeafGreen or FireRed after catching it in those games. 
                    <br>Deoxys will be in its regular form once traded over. 
                </center>
                </p>
            </div>
            <div class="southern island">
                <p class="island text">
                    <img class="latios" src="{{ url_for('static', filename='/RSEsprites/latios.webp')}}" alt="summary" width="68" height="68"/>
                    Although Latias and Latios are version exclusives, you can still get both in each game without trading.
                    <img class="latias" src="{{ url_for('static', filename='/RSEsprites/latias.webp')}}" alt="summary" width="68" height="68"/>
                    <br> You can find the opposite Pokémon at <a href="{{ url_for('gameevents')}}">Southern Island</a>,
                    which can only be reached with the <a href="{{ url_for('battleEcards')}}">Eon Ticket</a>. This goes for Emerald as well, since you can only chose one of the two.
                </p>
            </div>
        <h1 style="margin-bottom: 35px; color: green;"><center>Emerald</center></h1>
        <div>
            <p class="feature-box RSE" style="align-items: left;"><img src="{{ url_for('static', filename='boxArt/1198px-Emerald_EN_boxart.jpeg')}}" alt="Emerald" width="285" hspace="8" vspace='8'/>Pokémon Emerald box art</p>
            <p class="RSE">Pokémon Emerald was the third Hoenn game to release in generation 3
            (Japan: September 16, 2004 -> North America: May 1, 2005 -> Australia: June 9, 2005 -> Europe: Octover 21, 2005) . This game was the "definitive" Hoenn game,
            which featured both box legendaries from Ruby and Sapphire, as well as Rayquaza as the main legendary in the game. For the most part Emerald
            was just Ruby and Sapphire with some additions made, and some minor changes made to the story. Animated sprites made a return from Crystal, and got access to all of 
            the <a href="{{ url_for('gameevents')}}">Mystery Gifts</a> that Ruby and Sapphire missed out on.           
            </p>
            <h1 class="headings">New Features & Changes</h1>
            <p class="RSE">One of the main features was the Battle Frontier, which was put in place of the Battle Tower that you can access in Ruby and Sapphire after beating the Elite 4. 
            The Battle Frontier consisted of 7 facilities the player could challenge.  
            <p class="BF"><img class='image' src="{{ url_for('static', filename='/Battle_Frontier.webp')}}" alt="BF" width="300" height="160" hspace="8" vspace='8'/>Battle Frontier Map</p>
            </p>
            <p style="margin-left: 50px; margin-right: 50px;">
            Each of the 7 facilities had a boss (Frontier Brain) battle you needed to beat in order to get a silver or gold symbol. The silver symbols are given to the player after the first time they defeat the Frontier Brain, 
            and the gold symbols is given after the second time. Every facility has a different theme and different battle mechanics, which are very challenging and will need a lot of team building and strategy to complete. 
            </p>
            <p style="margin-left: 50px; margin-right: 50px;">
            The player is rewarded Batte Points after defeating trainers in the facilities, which can be used to buy Secret Base decorations or other battle items in the BP shop located South of the Battle Tower in the center of the island.   
            The amount of BP you earn depends on the facility you are in and how many trainers you defeat before you return back to the lobby.
            <br>
            </p>
            <p style="margin-left: 50px; margin-right: 50px;">
            Another feature that was added in Emerald was the ability to rematch the gym leaders once the champion has been defeated. Once the player has become champion, gym leaders can be rematched after every 20th trainer battle or after every 60th wild Pokémon
            battle. These are two seperate counters, meaning that you can line up two rematches by completing both battle requirements before rematching the gym leader. This is a great way to level up Pokémon for the post game events. 
            The gym leaders can be rematched with double battles, and their teams will be higher level and feature different Pokémon from their innitial teams, which were also different than their teams in Ruby and Sapphire.
            </p>

        </div>    
    </div>      
</body>    
</html>    
{% endblock %}

<!--
    TO DO:
    1. Make changes to the battle e cards page
    2. Make a sealed chamber page
    3. Records mixing and trading page
    3. Missing Pokemon in Emerald
-->