{% extends 'layout.html' %}
{% block content %}
    <h1><center><img src="{{ url_for('static', filename='set banners/RS.png')}}" alt="rslogo" height="85" width="581"></center></h1>
    <body>
    </p>
    <style>
        table, td {
          border:2px solid black; color: black; text-align: center; background-color: white;
        }
        th{border:2px solid black; color: black; text-align: center;background-color: blue}

        </style>
    <table style="width: fit-content;" align="center">
        <tr>
            <th>Card</th>
            <th>Card #</th>
            <th>Type</th>
            <th>Rarity</th>
        </tr>
        <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Aggron</a></td>
            <td>1/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/metal.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
        </tr>
        <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Beautifly</a></td>
            <td>2/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
        </tr>
        <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Blaziken</a></td>
            <td>3/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/fire.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
        </tr>
        <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Camerupt</a></td>
            <td>4/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/fire.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
        </tr>
        <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Delcatty</a></td>
            <td>5/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/normal.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Dustox</a></td>
            <td>6/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Gardevoir</a></td>
            <td>7/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/psychic.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Hariyama</a></td>
            <td>8/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Manectric</a></td>
            <td>9/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/lightning.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Mightyena</a></td>
            <td>10/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Sceptile</a></td>
            <td>11/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Slaking</a></td>
            <td>12/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/normal.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Swampert</a></td>
            <td>13/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Wailord</a></td>
            <td>14/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Blaziken</a></td>
            <td>15/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/fire.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/rare.webp')}}" alt="rarity" height="13" width="12">	</td>
          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Breloom</a></td>
            <td>16/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/rare.webp')}}" alt="rarity" height="12" width="12">	</td>          
          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Donphan</a></td>
            <td>17/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/rare.webp')}}" alt="rarity" height="12" width="12">	</td>          
          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Nosepass</a></td>
            <td>18/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/rare.webp')}}" alt="rarity" height="12" width="12">	</td>          
          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Pelipper</a></td>
            <td>19/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/rare.webp')}}" alt="rarity" height="12" width="12">	</td>          
          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Sceptile</a></td>
            <td>20/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/rare.webp')}}" alt="rarity" height="12" width="12">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Seaking</a></td>
            <td>21/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/rare.webp')}}" alt="rarity" height="12" width="12">	</td>        </tr>
        <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Sharpedo</a></td>
            <td>22/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/rare.webp')}}" alt="rarity" height="12" width="12">	</td>        </tr>
        <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Swampert</a></td>
            <td>23/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/rare.webp')}}" alt="rarity" height="12" width="12">	</td>        </tr>
        <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Weezing</a></td>
            <td>24/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/rare.webp')}}" alt="rarity" height="12" width="12">	</td>        </tr>
        <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Aron</a></td>
            <td>25/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/metal.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/uncommon.webp')}}" alt="rarity" height="12" width="13">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Cascoon</a></td>
            <td>26/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/uncommon.webp')}}" alt="rarity" height="12" width="13">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Combusken</a></td>
            <td>27/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/fire.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/uncommon.webp')}}" alt="rarity" height="12" width="13">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Combusken</a></td>
            <td>28/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/fire.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/uncommon.webp')}}" alt="rarity" height="12" width="13">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Delcatty</a></td>
            <td>29/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/normal.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/uncommon.webp')}}" alt="rarity" height="12" width="13">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Elektrike</a></td>
            <td>30/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/lightning.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/uncommon.webp')}}" alt="rarity" height="12" width="13">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Grovyle</a></td>
            <td>31/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/uncommon.webp')}}" alt="rarity" height="12" width="13">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Grovyle</a></td>
            <td>32/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/uncommon.webp')}}" alt="rarity" height="12" width="13">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Hariyama</a></td>
            <td>33/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/uncommon.webp')}}" alt="rarity" height="12" width="13">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Kirlia</a></td>
            <td>34/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/psychic.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/uncommon.webp')}}" alt="rarity" height="12" width="13">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Kirlia</a></td>
            <td>35/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/psychic.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/uncommon.webp')}}" alt="rarity" height="12" width="13">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Lairon</a></td>
            <td>36/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/metal.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/uncommon.webp')}}" alt="rarity" height="12" width="13">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Lairon</a></td>
            <td>37/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/metal.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/uncommon.webp')}}" alt="rarity" height="12" width="13">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Linoone</a></td>
            <td>38/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/normal.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/uncommon.webp')}}" alt="rarity" height="12" width="13">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Manectric</a></td>
            <td>39/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/lightning.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/uncommon.webp')}}" alt="rarity" height="12" width="13">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Marshtomp</a></td>
            <td>40/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/uncommon.webp')}}" alt="rarity" height="12" width="13">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Marshtomp</a></td>
            <td>41/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/uncommon.webp')}}" alt="rarity" height="12" width="13">	</td>        </tr>
        <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Mightyena</a></td>
            <td>42/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/uncommon.webp')}}" alt="rarity" height="12" width="13">	</td>        </tr>
        <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Silcoon</a></td>
            <td>43/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/uncommon.webp')}}" alt="rarity" height="12" width="13">	</td>        </tr>
        <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Skitty</a></td>
            <td>44/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/normal.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/uncommon.webp')}}" alt="rarity" height="12" width="13">	</td>        </tr>
        <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Slakoth</a></td>
            <td>45/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/normal.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/uncommon.webp')}}" alt="rarity" height="12" width="13">	</td>        </tr>
        <tr>            
            <td><a href="{{ url_for('rubysapphire')}}">Swellow</a></td>
            <td>46/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/normal.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/uncommon.webp')}}" alt="rarity" height="12" width="13">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Vigoroth</a></td>
            <td>47/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/normal.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/uncommon.webp')}}" alt="rarity" height="12" width="13">	</td>        </tr>
        <tr>            
            <td><a href="{{ url_for('rubysapphire')}}">Wailmer</a></td>
            <td>48/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/uncommon.webp')}}" alt="rarity" height="12" width="13">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Aron</a></td>
            <td>49/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/metal.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/common.webp')}}" alt="rarity" height="12" width="13">	</td>        </tr>
        <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Aron</a></td>
            <td>50/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/metal.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/common.webp')}}" alt="rarity" height="12" width="13">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Carvanha</a></td>
            <td>51/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/common.webp')}}" alt="rarity" height="12" width="13">	</td>        </tr>
        <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Elektrike</a></td>
            <td>52/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/lightning.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/common.webp')}}" alt="rarity" height="12" width="13">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Elektrike</a></td>
            <td>53/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/lightning.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/common.webp')}}" alt="rarity" height="12" width="13">	</td>        </tr>
        <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Koffing</a></td>
            <td>54/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/common.webp')}}" alt="rarity" height="12" width="13">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Goldeen</a></td>
            <td>55/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/common.webp')}}" alt="rarity" height="12" width="13">	</td>        </tr>
        <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Makuhita</a></td>
            <td>56/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/common.webp')}}" alt="rarity" height="12" width="13">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Makuhita</a></td>
            <td>57/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/common.webp')}}" alt="rarity" height="12" width="13">	</td>        </tr>
        <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Makuhita</a></td>
            <td>58/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/common.webp')}}" alt="rarity" height="12" width="13">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Mudkip</a></td>
            <td>59/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/common.webp')}}" alt="rarity" height="12" width="13">	</td>        </tr>
        <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Mudkip</a></td>
            <td>60/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/common.webp')}}" alt="rarity" height="12" width="13">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Numel</a></td>
            <td>61/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/fire.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/common.webp')}}" alt="rarity" height="12" width="13">	</td>        </tr>
        <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Phanpy</a></td>
            <td>62/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/common.webp')}}" alt="rarity" height="12" width="13">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Poochyena</a></td>
            <td>63/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/common.webp')}}" alt="rarity" height="12" width="13">	</td>        </tr>
        <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Poochyena</a></td>
            <td>64/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/common.webp')}}" alt="rarity" height="12" width="13">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Poochyena</a></td>
            <td>65/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/common.webp')}}" alt="rarity" height="12" width="13">	</td>        </tr>
        <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Ralts</a></td>
            <td>66/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/psychic.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/common.webp')}}" alt="rarity" height="12" width="13">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Ralts</a></td>
            <td>67/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/psychic.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/common.webp')}}" alt="rarity" height="12" width="13">	</td>        </tr>
        <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Ralts</a></td>
            <td>68/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/psychic.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/common.webp')}}" alt="rarity" height="12" width="13">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Shroomish</a></td>
            <td>69/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/common.webp')}}" alt="rarity" height="12" width="13">	</td>        </tr>
        <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Skitty</a></td>
            <td>70/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/normal.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/common.webp')}}" alt="rarity" height="12" width="13">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Skitty</a></td>
            <td>71/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/normal.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/common.webp')}}" alt="rarity" height="12" width="13">	</td>        </tr>
        <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Taillow</a></td>
            <td>72/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/normal.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/common.webp')}}" alt="rarity" height="12" width="13">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Torchic</a></td>
            <td>73/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/fire.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/common.webp')}}" alt="rarity" height="12" width="13">	</td>        </tr>
        <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Torchic</a></td>
            <td>74/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/fire.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/common.webp')}}" alt="rarity" height="12" width="13">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Treeko</a></td>
            <td>75/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/common.webp')}}" alt="rarity" height="12" width="13">	</td>        </tr>
        <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Treeko</a></td>
            <td>76/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/common.webp')}}" alt="rarity" height="12" width="13">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Wingull</a></td>
            <td>77/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/common.webp')}}" alt="rarity" height="12" width="13">	</td>        </tr>
        <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Wurmple</a></td>
            <td>78/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/common.webp')}}" alt="rarity" height="12" width="13">	</td>        </tr>
        <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Zigzagoon</a></td>
            <td>79/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/normal.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/common.webp')}}" alt="rarity" height="12" width="13">	</td>        </tr>
        <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Energy Removal 2</a></td>
            <td>80/109</td>
            <td>Trainer</td>
            <td><img src="{{ url_for('static', filename='rarity/uncommon.webp')}}" alt="rarity" height="12" width="13">	</td>        </tr>
        <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Energy Restore</a></td>
            <td>81/109</td>
            <td>Trainer</td>
            <td><img src="{{ url_for('static', filename='rarity/uncommon.webp')}}" alt="rarity" height="12" width="13">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Energy Switch</a></td>
            <td>82/109</td>
            <td>Trainer</td>
            <td><img src="{{ url_for('static', filename='rarity/uncommon.webp')}}" alt="rarity" height="12" width="13">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Lady Outing</a></td>
            <td>83/109</td>
            <td>Trainer</td>
            <td><img src="{{ url_for('static', filename='rarity/uncommon.webp')}}" alt="rarity" height="12" width="13">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Lum Berry</a></td>
            <td>84/109</td>
            <td>Trainer</td>
            <td><img src="{{ url_for('static', filename='rarity/uncommon.webp')}}" alt="rarity" height="12" width="13">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Oran Berry</a></td>
            <td>85/109</td>
            <td>Trainer</td>
            <td><img src="{{ url_for('static', filename='rarity/uncommon.webp')}}" alt="rarity" height="12" width="13">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Poké Ball</a></td>
            <td>86/109</td>
            <td>Trainer</td>
            <td><img src="{{ url_for('static', filename='rarity/uncommon.webp')}}" alt="rarity" height="12" width="13">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Pokémon Reversal</a></td>
            <td>87/109</td>
            <td>Trainer</td>
            <td><img src="{{ url_for('static', filename='rarity/uncommon.webp')}}" alt="rarity" height="12" width="13">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">PokéNav</a></td>
            <td>88/109</td>
            <td>Trainer</td>
            <td><img src="{{ url_for('static', filename='rarity/uncommon.webp')}}" alt="rarity" height="12" width="13">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Professor Birch</a></td>
            <td>89/109</td>
            <td>Trainer</td>
            <td><img src="{{ url_for('static', filename='rarity/uncommon.webp')}}" alt="rarity" height="12" width="13">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Energy Search</a></td>
            <td>90/109</td>
            <td>Trainer</td>
            <td><img src="{{ url_for('static', filename='rarity/common.webp')}}" alt="rarity" height="12" width="13">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Potion</a></td>
            <td>91/109</td>
            <td>Trainer</td>
            <td><img src="{{ url_for('static', filename='rarity/common.webp')}}" alt="rarity" height="12" width="13">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Switch</a></td>
            <td>92/109</td>
            <td>Trainer</td>
            <td><img src="{{ url_for('static', filename='rarity/common.webp')}}" alt="rarity" height="12" width="13">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Darkness Energy</a></td>
            <td>93/109</td>
            <td> <img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
          </td>
            <td><img src="{{ url_for('static', filename='rarity/rare.webp')}}" alt="rarity" height="12" width="13">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Metal Energy</a></td>
            <td>94/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/metal.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/rare.webp')}}" alt="rarity" height="12" width="13">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Rainbow Energy</a></td>
            <td>95/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/rainbow.png')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/rare.webp')}}" alt="rarity" height="12" width="13">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Chansey ex</a></td>
            <td>96/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/normal.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/ex.webp')}}" alt="rarity" height="12" width="27">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Electabuzz ex</a></td>
            <td>97/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/lightning.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/ex.webp')}}" alt="rarity" height="12" width="27">	</td>        </tr>
        <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Hitmonchan ex</a></td>
            <td>98/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/ex.webp')}}" alt="rarity" height="12" width="27">	</td>        </tr>
        <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Lapras ex</a></td>
            <td>99/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/ex.webp')}}" alt="rarity" height="12" width="27">	</td>        </tr>
        <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Magmar ex</a></td>
            <td>100/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/fire.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/ex.webp')}}" alt="rarity" height="12" width="27">	</td>        </tr>
        <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Mewtwo ex</a></td>
            <td>101/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/psychic.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/ex.webp')}}" alt="rarity" height="12" width="27">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Scyther ex</a></td>
            <td>102/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/ex.webp')}}" alt="rarity" height="12" width="27">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Sneasel ex</a></td>
            <td>103/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
            <td><img src="{{ url_for('static', filename='rarity/ex.webp')}}" alt="rarity" height="12" width="27">	</td>          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Grass Energy</a></td>
            <td>104/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"></td>
            <td>-</tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Fighting Energy</a></td>
            <td>105/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
            <td>-</td>
          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Water Energy</a></td>
            <td>106/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
            <td>-</td>
          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Psychic Energy</a></td>
            <td>107/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/psychic.webp')}}" alt='card' height="18" width="18"></td>
            <td>-</td>
          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Fire Energy</a></td>
            <td>108/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/fire.webp')}}" alt='card' height="18" width="18"></td>
            <td>-</td>
          </tr>
          <tr>
            <td><a href="{{ url_for('rubysapphire')}}">Lightning Energy</a></td>
            <td>109/109</td>
            <td><img src="{{ url_for('static', filename='energy symbols/lightning.webp')}}" alt='card' height="18" width="18"></td>
            <td>-</td>
          </tr>  
    </table>          
    </body>
{% endblock %}