{% extends 'layout.html' %}
{% block content %}
<h1><center><img src="{{ url_for('static', filename='set banners/SS.png')}}" alt="sandstormlogo" height="76" width="572"></center></h1>
<body>
</p>
<style>
    table, td {
      border:2px solid black; color: black; text-align: center; background-color: white;
    } 
    th{border:2px solid black; color: black; text-align: center;background-color: sandybrown}

    </style>
<table style="width: fit-content;" align="center">
    <tr>
        <th>Card</th>
        <th>Card #</th>
        <th>Type</th>
        <th>Rarity</th>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Armaldo</a></td>
        <td>1/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Cacturne</a></td>
        <td>2/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Cradily</a></td>
        <td>3/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Dusclops</a></td>
        <td>4/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/psychic.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Flareon</a></td>
        <td>5/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fire.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Jolteon</a></td>
        <td>6/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/lightning.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Ludicolo</a></td>
        <td>7/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Lunatone</a></td>
        <td>8/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/psychic.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Mawile</a></td>
        <td>9/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/metal.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Sableye</a></td>
        <td>10/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Seviper</a></td>
        <td>11/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Shiftry</a></td>
        <td>12/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Solrock</a></td>
        <td>13/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Zangoose</a></td>
        <td>14/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/normal.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Arcanine</a></td>
        <td>15/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fire.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Espeon</a></td>
        <td>16/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/psychic.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Golduck</a></td>
        <td>17/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Kecleon</a></td>
        <td>18/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/normal.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Omastar</a></td>
        <td>19/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Pichu</a></td>
        <td>20/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/lightning.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Sandslash</a></td>
        <td>21/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Shiftry</a></td>
        <td>22/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Steelix</a></td>
        <td>23/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/metal.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Umbreon</a></td>
        <td>24/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Vaporeon</a></td>
        <td>25/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Wobbuffet</a></td>
        <td>26/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/psychic.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Anorith</a></td>
        <td>27/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Anorith</a></td>
        <td>28/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Arbock</a></td>
        <td>29/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Azumarill</a></td>
        <td>30/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Azurill</a></td>
        <td>31/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/normal.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Baltoy</a></td>
        <td>32/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Breloom</a></td>
        <td>33/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Delcatty</a></td>
        <td>34/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/normal.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Electabuzz</a></td>
        <td>35/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/lightning.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Elekid</a></td>
        <td>36/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/lightning.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Fearow</a></td>
        <td>37/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/normal.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Illumise</a></td>
        <td>38/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Kabuto</a></td>
        <td>39/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Kirlia</a></td>
        <td>40/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/psychic.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Lairon</a></td>
        <td>41/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/metal.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Lileep</a></td>
        <td>42/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Lileep</a></td>
        <td>43/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Linoone</a></td>
        <td>44/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/normal.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Lombre</a></td>
        <td>45/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>            
        <td><a href="{{ url_for('rubysapphire')}}">Lombre</a></td>
        <td>46/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Murkrow</a></td>
        <td>47/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/darkness.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>            
        <td><a href="{{ url_for('rubysapphire')}}">Nuzleaf</a></td>
        <td>48/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Nuzleaf</a></td>
        <td>49/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Pelipper</a></td>
        <td>50/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Quilava</a></td>
        <td>51/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fire.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Vigoroth</a></td>
        <td>52/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/normal.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Volbeat</a></td>
        <td>53/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Wynaut</a></td>
        <td>54/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/psychic.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Xatu</a></td>
        <td>55/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/psychic.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Aron</a></td>
        <td>56/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/metal.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Cacnea</a></td>
        <td>57/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Cacnea</a></td>
        <td>58/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Cyndaquil</a></td>
        <td>59/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fire.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Dunsparce</a></td>
        <td>60/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/normal.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Duskull</a></td>
        <td>61/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/psychic.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Duskull</a></td>
        <td>62/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/psychic.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Eevee</a></td>
        <td>63/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/normal.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Ekans</a></td>
        <td>64/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Growlithe</a></td>
        <td>65/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fire.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>                        
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Lotad</a></td>
        <td>66/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Lotad</a></td>
        <td>67/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Marill</a></td>
        <td>68/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Natu</a></td>
        <td>69/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/psychic.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Omanyte</a></td>
        <td>70/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Onix</a></td>
        <td>71/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Pikachu</a></td>
        <td>72/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/lightning.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Psyduck</a></td>
        <td>73/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Ralts</a></td>
        <td>74/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/psychic.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Sandshrew</a></td>
        <td>75/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>            
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Seedot</a></td>
        <td>76/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Seedot</a></td>
        <td>77/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Shroomish</a></td>
        <td>78/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/grass.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Skitty</a></td>
        <td>79/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/normal.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Slakoth</a></td>
        <td>80/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/normal.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Spearow</a></td>
        <td>81/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/normal.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Trapinch</a></td>
        <td>82/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fighting.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Wailmer</a></td>
        <td>83/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Wingull</a></td>
        <td>84/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Zigzagoon</a></td>
        <td>85/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/normal.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Double Full Heal</a></td>
        <td>86/100</td>
        <td>Trainer</td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Lanette's Net Search</a></td>
        <td>87/100</td>
        <td>Trainer</td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Rare Candy</a></td>
        <td>88/100</td>
        <td>Trainer</td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Wally's Training</a></td>
        <td>89/100</td>
        <td>Trainer</td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Claw Fossil</a></td>
        <td>90/100</td>
        <td>Trainer</td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Mysterious Fossil</a></td>
        <td>91/100</td>
        <td>Trainer</td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Root Fossil</a></td>
        <td>92/100</td>
        <td>Trainer</td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Multi Energy</a></td>
        <td>93/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/rainbow.png')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Aerodactyl ex</a></td>
        <td>94/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/normal.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Aggron ex</a></td>
        <td>95/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/metal.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Gardevoir ex</a></td>
        <td>96/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/psychic.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Kabutops ex</a></td>
        <td>97/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Raichu ex</a></td>
        <td>98/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/lightning.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Typhlosion ex</a></td>
        <td>99/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/fire.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('rubysapphire')}}">Wailord ex</a></td>
        <td>100/100</td>
        <td><img src="{{ url_for('static', filename='energy symbols/water.webp')}}" alt='card' height="18" width="18"></td>
        <td><img src="{{ url_for('static', filename='rarity/holorare.webp')}}" alt="rarity" height="12" width="22">	</td>
    </tr>
</table>          
</body>
{% endblock %}